
.metadata/.ide.log
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/tableroPileta_STM32F103C8T6.1636930682351.pdom
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/tableroPileta_STM32F103C8T6.build.log
.metadata/.plugins/org.eclipse.core.resources/.history/63/603141d1d448001c1484b462c1d2ad11
.metadata/.plugins/org.eclipse.core.resources/.history/9/b0d646d1d448001c1484b462c1d2ad11
.metadata/.plugins/org.eclipse.core.resources/.history/b5/807128d3e048001c1b93b6962f1da70c
.metadata/.plugins/org.eclipse.core.resources/.history/d9/704373dfe048001c1b93b6962f1da70c
.metadata/.plugins/org.eclipse.core.resources/.history/da/403864a7e048001c1b93b6962f1da70c
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.indexes/bf/be/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.indexes/bf/be/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.indexes/bf/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/version.ini
.metadata/.ide.log
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/tableroPileta_STM32F103C8T6.1636930682351.pdom
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/tableroPileta_STM32F103C8T6.build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.indexes/bf/c4/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/tableroPileta_STM32F103C8T6/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
